# eap_pwd.cfg
#
# Example Radiator configuration file.
# This very simple file will allow you to get started with EAP-pwd
# authentication. See RFC 5931.
#
# EAP-pwd is highly secure (the password is never transmitted, even in
# encrypted form), and does not require PKI certificates, and also
# requires only 3 authentication round-trips. So it is considered
# efficient to roll out in eg eduroam and other environments. Requires
# that the Radiator user database has access to the correct plaintext
# password.
#
# Requires:
#  Crypt::OpenSSL::EC 0.2 or later
#  Crypt::OpenSSL::Bignum 0.04+patches or later
#  (patch for Crypt::OpenSSL::Bignum 0.04 is available in the goodies directory)
#  Digest::SHA
#  OpenSSL 0.9.8i or later
#
# You can patch Crypt::OpenSSL::Bignum 0.04 to add the functions required by EAP-pwd like this:
# tar zxvf Crypt-OpenSSL-Bignum-0.04.tar.gz
# cd Crypt-OpenSSL-Bignum-0.04/
# chmod -R +w *
# patch < wherever/Radiator-4.9/goodies/Crypt-OpenSSL-Bignum-0.04-mikem.patch
# perl Makefile.PL 
# make test
# sudo make install
#
# This patch has been submitted to the author of Crypt::OpenSSL::Bignum 
# and may not be necessary in subsequent versions of Crypt::OpenSSL::Bignum
#
# Caution: Crypt::OpenSSL::EC and Crypt::OpenSSL::Bignum may not be readily available for Windows
#
#
# Tested against wpa_supplicant-1.0, which had this issue:
#   http://w1.fi/bugz/show_bug.cgi?id=453
# Note: requires wpa_supplicant to be compiled with CONFIG_EAP_PWD=y
#
# Test with 
#   eapol_test -p 1645 -s mysecret -c pwd.conf -r 1000 -t 1000
# pwd.conf is like:
# network={
#    key_mgmt=WPA-EAP
#    eap=PWD
#    identity="mikem"
#    password="fred"
#}
#
# See radius.cfg for more complete examples of features and syntax,
# and refer to the reference manual for a complete description of all
# the features and syntax.
#
# You should consider this file to be a starting point only
# $Id: eap_pwd.cfg,v 1.3 2013/08/29 06:58:47 hvn Exp $

Foreground
LogStdout
LogDir		.
DbDir		.
# User a lower trace level in production systems:
Trace 		4

# You will probably want to add other Clients to suit your site,
# one for each NAS you want to work with
<Client DEFAULT>
	Secret	mysecret
</Client>

# Authenticates using plaintext passwords in %D/users
<Handler>
	<AuthBy FILE>
		Filename %D/users
		EAPType PWD
		AutoMPPEKeys
	</AuthBy>
</Handler>