# edirectory_name.cfg
#
# Example Radiator configuration file for authenticating from
# Novell eDirectory LDAP server using NMAS login sequences, such as 
# for Vasco Digipass suport with NMAS.
# See editectory.txt in the Radiator goodies directory for hints about how
# to install and configure eDirectory, iManager, NMAS and Vasco Digipass support
# Only PAP plaintext passwords can be supported from the client. 
# Vasco Challenge-Response tokens are not supported by NMAS yet.
#
# This very simple file will allow you to get started with 
# eDirectory and NMAS
# Tested eDirectory running on SLES 11 :
# eDirectory 8.8 SP5 with iManager 2.7 novell-nmas-methods.i386.rpm 
# VASCO_NMAS_Method_3_4_iMan27.zip novell-radius-ldap-extensions-1.1.0-3.i586.rpm
#
# Also requires perl-ldap and IO::Socket::SSL modules and openssl
#
# test with:
#  radpwtst -noacct -user fred -password 123456
#
# See radius.cfg for more complete examples of features and
# syntax, and refer to the reference manual for a complete description
# of all the features and syntax.
#
# You should consider this file to be a starting point only
# $Id: edirectory_nmas.cfg,v 1.1 2011/02/06 05:55:29 mikem Exp $

Foreground
LogStdout
LogDir		.
DbDir		.
Trace		4

# You will probably want to add other Clients to suit your site.
<Client DEFAULT>
	Secret	mysecret
	DupInterval 0
</Client>

# This shows how to connect to a Novell eDirectory LDAP server
# In this example, the LDAP organisation name is 'OSC'. You will have to
# edit this config and change OSC to suit the Server Context you configured into your
# eDirectory when you created the tree
# See goodies/edirectory.txt for more information.
<Realm DEFAULT>
	<AuthBy LDAP2>
		# Tell Radiator where the eDirectory server is
		# Caution: this name needs to agree with the server name eDirectory server certificate, else you 
		# will need 'SSLVerify none' below
		Host		linux-no66.site

		# You must set these to the FDN of your eDirectory
		# administrator and password that you set up when you 
		# installed eDirectory
		AuthDN		cn=admin,o=OSC
		AuthPassword	admin

		# This the top of the search tree where users
		# will be found. It should match the configuration
		# of your eDirectory
		BaseDN		o=OSC

		# This is the standard eDirectory username attribute
		# to match against User-Name
		UsernameAttr	uid

		# Dont look for DEFAULT users if the requested user
		# doesnt exist.
		NoDefault

		# Enabling HoldServerConnection improves performance considerably
		# Because Radiator does not have to do TLS handshake for every connection
		HoldServerConnection

		# If UseNovellNMASSequence is set and ServerChecksPassword is not set
		# Radiator will authenticate a PAP password using the named Novell NMAS sequence.
		# UseNovellNMASSequence must specify the name of a valid NMAS sequence 
		# configured in iManager.
		# A standard NMAS sequence name is 'NDS'. If you have the Vasco Digipass NMAS support installed
		# in eDirectory, you can use Digipass and authenticate Digipass 'Response Only' RO tokens.
		# 'Challenge-Response' tokens are not suported by NMAS at present
		UseNovellNMASSequence Digipass

		# You can override the NMAS sequence to use on a per-user basis by adding an eDir-Auth-Option
		# check item. Or you can override with the default NMAS sequcence name from eDirectory
		# itself, allowing the preferred sequcence name to be configured in eDirectory.
		# If neither UseNovellNMASSequence or eDir-Auth-Option specify the sequnce it falls
		# back to 'NDS'
		AuthAttrDef sasDefaultLoginSequence,eDir-Auth-Option,check

		# You can enable debugging of the Net::LDAP
		# module with this, which will dump LDAP requests
		# sent  to and from the LDAP server
		#Debug 255
		
		# By default eDirectory requires TLS connections.
		# In order to configure to use TLS with eDirectory, you must must get the servers Root CA certificate
		# from eDirectory and configure Radiator to use it to verify the server certificate
		# See edirectory.txt for more information
		#
		# With eDirectory 8.7.3 and 2.0.2, use OneConsole
		# to extract the eDirectory servers trusted root certificate in DER format, see
		# http://www.novell.com/documentation/crt27/index.html?page=/documentation/crt27/crtadmin/data/a2ebopb.html
		#
		# With eDirectory 8.8 and iManager 3.3, use:
		# Directory administration->Modify Object, browse to Security->OPEN CA, OK, Certificates Tab, 
		# select Self Signed Certificate, Export. Disable 'Export private key'. Export Format DER, Next>>, 
		# 'Save the exported certificate'. Get cert.der
		#
		# then convert the exported root certificate from DER to PEM format
		# using openssl:
		# openssl x509 -inform DER -outform PEM -in cert.der -out cert.pem
		# and finally name the resulting PEM file in SSLCAFile below
		# On some platforms, you may need to use UseSSL instead of UseTLS
#		UseSSL
		UseTLS
#		SSLCAFile %D/tmp/TrustedRootCert.pem
		SSLCAFile %D/tmp/cert.pem
		# Requires IO::Socket::SSL, Net::SSLeay and openssl

		# IF the eDirectory server certificate does not agree with 
		#SSLVerify none

		# You only need these parameters if your eDirectory is
		# configured to require a client certificate (not the default).
		#SSLCAClientCert ldapcertificates/clientcrt.pem
		#SSLCAClientKey ldapcertificates/clientkey.pem

		# You can control the timout for connection failure,
		# plus the backoff time after failure. Timout defaults
		# to 10 secs and FailureBackoffTime to 10 mins
		#Timeout 2
		#FailureBackoffTime 60

		# Must use LDAP version 3 to talk to eDirectory
		Version 3

		# If the eDirectory RADIUS Schema is installed from the iManager 'Novell Radius Plugin', 
		# may get these check and reply items, many from draft-aboba-radius-02.txt
		# Some are added for freeradius compatibility
		AuthAttrDef radiusCheckItem,GENERIC,check
		AuthAttrDef radiusAuthType,Auth-Type,check
	 	AuthAttrDef radiusSimultaneousUse,Simultaneous-Use,check
		AuthAttrDef radiusCalledStationId,Called-Station-Id,check
	 	AuthAttrDef radiusCallingStationId,Calling-Station-Id,check
	 	AuthAttrDef lmPassword,LM-Password,check
	 	AuthAttrDef ntPassword,NT-Password,check
	 	AuthAttrDef sambaLmPassword,LM-Password,check
	 	AuthAttrDef sambaNtPassword,NT-Password,check
	 	AuthAttrDef dBCSPwd,LM-Password,check
	 	AuthAttrDef userPassword,User-Password,check
	 	AuthAttrDef acctFlags,SMB-Account-CTRL-TEXT,check
	 	AuthAttrDef radiusExpiration,Expiration,check
	 	AuthAttrDef radiusNASIpAddress,NAS-IP-Address,check

		AuthAttrDef radiusReplyItem,GENERIC,reply
	 	AuthAttrDef radiusServiceType,Service-Type,reply
	 	AuthAttrDef radiusFramedProtocol,Framed-Protocol,reply
	 	AuthAttrDef radiusFramedIPAddress,Framed-IP-Address,reply
	 	AuthAttrDef radiusFramedIPNetmask,Framed-IP-Netmask,reply
	 	AuthAttrDef radiusFramedRoute,Framed-Route,reply
	 	AuthAttrDef radiusFramedRouting,Framed-Routing,reply
	 	AuthAttrDef radiusFilterId,Filter-Id,reply
	 	AuthAttrDef radiusFramedMTU,Framed-MTU,reply
	 	AuthAttrDef radiusFramedCompression,Framed-Compression,reply
	 	AuthAttrDef radiusLoginIPHost,Login-IP-Host,reply
	 	AuthAttrDef radiusLoginService,Login-Service,reply
	 	AuthAttrDef radiusLoginTCPPort,Login-TCP-Port,reply
	 	AuthAttrDef radiusCallbackNumber,Callback-Numbe,replyr
	 	AuthAttrDef radiusCallbackId,Callback-Id,reply
	 	AuthAttrDef radiusFramedIPXNetwork,Framed-IPX-Network,reply
	 	AuthAttrDef radiusClass,Class,reply
	 	AuthAttrDef radiusSessionTimeout,Session-Timeout,reply
	 	AuthAttrDef radiusIdleTimeout,Idle-Timeout,reply
	 	AuthAttrDef radiusTerminationAction,Termination-Action,reply
	 	AuthAttrDef radiusLoginLATService,Login-LAT-Service,reply
	 	AuthAttrDef radiusLoginLATNode,Login-LAT-Node,reply
	 	AuthAttrDef radiusLoginLATGroup,Login-LAT-Group,reply
	 	AuthAttrDef radiusFramedAppleTalkLink,Framed-AppleTalk-Link,reply
	 	AuthAttrDef radiusFramedAppleTalkNetwork,Framed-AppleTalk-Network,reply
	 	AuthAttrDef radiusFramedAppleTalkZone,Framed-AppleTalk-Zone,reply
	 	AuthAttrDef radiusPortLimit,Port-Limit,reply
	 	AuthAttrDef radiusLoginLATPort,Login-LAT-Port,reply
	 	AuthAttrDef radiusReplyMessage,Reply-Message,reply
	 	AuthAttrDef radiusTunnelType,Tunnel-Type,reply
	 	AuthAttrDef radiusTunnelMediumType,Tunnel-Medium-Type,reply
	 	AuthAttrDef radiusTunnelPrivateGroupId,Tunnel-Private-Group-Id,reply
		AuthAttrDef radiusTunnelServerEndpoint,Tunnel-Server-Endpoint,reply
		AuthAttrDef radiusTunnelPreference,Tunnel-Preference,reply
		AuthAttrDef radiusTunnelClientEndpoint,Tunnel-Client-Endpoint,reply
		AuthAttrDef radiusTunnelAssignmentId,Tunnel-Assignment-ID,reply
		AuthAttrDef radiusArapFeatures,ARAP-Features,reply
		AuthAttrDef radiusArapZoneAccess,ARAP-Zone-Access,reply
		AuthAttrDef radiusArapSecurity,ARAP-Security,reply
		AuthAttrDef radiusPrompt,Prompt,reply
	</AuthBy>
</Realm>

