# leap.cfg
#
# Example Radiator configuration file.
# This very simple file will allow you to get started with 
# LEAP authentication.
# We suggest you start simple, prove to yourself that it
# works and then develop a more complicated configuration.
#
# This example will authenticate from a standard users file in
# the current directory.
# It will negotiate LEAP authentication with any radus client
# that requests EAP authentication.
#
# It will accept requests from any client and try to handle request
# for any realm.
# And it will print out what its doing in great detail.
#
# See radius.cfg for more complete examples of features and
# syntax, and refer to the reference manual for a complete description
# of all the features and syntax.
#
# You should consider this file to be a starting point only
# $Id: leap.cfg,v 1.1 2003/11/14 03:13:06 mikem Exp $

Foreground
LogStdout
LogDir		.
DbDir		.
# User a lower trace level in production systems:
Trace 		4

# You will probably want to add other Clients to suit your site,
# one for each NAS you want to work with
<Client DEFAULT>
	Secret	mysecret
	DupInterval 0
</Client>

<Realm DEFAULT>
	<AuthBy FILE>
		# This says to handle all EAP requests with LEAP
		EAPType LEAP

		# Authenticate from the users file.
		# Caution: only plaintext passwords are supported
		Filename %D/users
	</AuthBy>
</Realm>

