# monitor.cfg
#
# Example Radiator configuration file.
#
# Shows how to enable monitoring of Radiator through an external tool
#
# See radius.cfg for more complete examples of features and
# syntax, and refer to the reference manual for a complete description
# of all the features and syntax.
#
# You should consider this file to be a starting point only
# $Id: monitor.cfg,v 1.8 2014/09/26 20:42:55 hvn Exp $

Foreground
LogStdout
LogDir		.
DbDir		.
# User a lower trace level in production systems:
Trace 		4

# You will probably want to add other Clients to suit your site,
# one for each NAS you want to work with
<Client DEFAULT>
	Secret	mysecret
	DupInterval 0
</Client>

<Realm DEFAULT>
	<AuthBy FILE>
		Filename ./users
	</AuthBy>
</Realm>

# CAUTION: Careless configuration of this clause can open security holes in
# your RADIUS host. The following example configuration is for testing only.
# It is recommended that you:
#  1. limit the clients that can connect with the Clients parameter
#  2. Make sure this configuration file is only readable by root
#  3. Consider making radiusd run as a non-priveleged user
#  4. Use secure usernames and password to authenticate access to this server.
#  5. Disable this clause when not required.
<Monitor>
	# Specifies the TCP port to use. Defaults to 9048
	#Port  7777
	#Port %{GlobalVar:monitorport}

	# BindAddress allows you to bind to a different network address
	# for multihomed hosts. Defaults to 0.0.0.0
	#BindAddress 203.63.154.29, 127.0.0.1

	# You can have one or more AuthBy clauses or AuthBy parameters
	# to specify how to authenticate connections. AuthByPolicy is also
	# supported. If the last AuthBy returns ACCEPT, the connection 
	# is accepted. If the last AuthBy returns IGNORE, or there are
	# no AuthBy, then fall back to the hardwired Username and
	# Password parameters
#	<AuthBy FILE>
#		Filename ./users
#	</AuthBy>

	# This is the fallback username and password that clients must LOGIN as
	# if there are no AuthBy clauses, or they return IGNORE
	Username mikem
	Password fred

	# IF you set TraceOnly, connections through this Monitor are 
	# prevented from getting statistics, or getting or setting
	# configuration data, or restarting the server
	# TraceOnly

	# Clients let you specify which clients you will accept connects from
	# You can specify one or more comma or space separated IP addresses
	#Clients 127.0.0.2, 203.63.154.29

	# Like most loggers, you can enable LogMicroseconds to get
        # microsecond accuracy in log messages. Requires the
	# Time::HiRes module
	#LogMicroseconds

	# You can force SSL connections, and use all the standard TLS
	# certificate and verification mechanisms
#	UseSSL 1
	TLS_CAFile ./certificates/demoCA/cacert.pem
	TLS_CertificateFile ./certificates/cert-srv.pem
	TLS_CertificateType PEM
	TLS_PrivateKeyFile ./certificates/cert-srv.pem
	TLS_PrivateKeyPassword whatever
	#TLS_RequireClientCert
	#TLS_ExpectedPeerName .+
	#TLS_SubjectAltNameURI .*open.com.au
	#TLS_CRLCheck
	#TLS_CRLFile %D/certificates/revocations.pem
	#TLS_CRLFile %D/certificates/revocations2.pem

	# Ephemeral key exchange is supported with Diffie-Hellman key
	# exchange (DHE) and Elliptic Curve Diffie-Hellman key
	# exchange (ECDHE). See the reference manual for details.
	#TLS_DHFile %D/certificates/dh2048.pem
	#TLS_ECDH_Curve prime256v1
</Monitor>

