# system.cfg
#
# Example Radiator configuration file.
# This very simple file will allow you to get started with 
# authenticating using AuthBy SYSTEM
# We suggest you start simple, prove to yourself that it
# works and then develop a more complicated configuration.
#
# See radius.cfg for more complete examples of features and
# syntax, and refer to the reference manual for a complete description
# of all the features and syntax.
#
# You should consider this file to be a starting point only
# $Id: system.cfg,v 1.1 2001/05/17 05:33:34 mikem Exp $

Foreground
LogStdout
LogDir		.
DbDir		.
# User a lower trace level in production systems:
Trace 		4

# You will probably want to add other Clients to suit your site,
# one for each NAS you want to work with
<Client DEFAULT>
	Secret	mysecret
	DupInterval 0
</Client>

<Realm DEFAULT>
	<AuthBy SYSTEM>
		# Set UseGetspnamf to get more details
		# like expiry dates etc
		# Requires the shadowf module from
		# ftp://ftp.eur.nl/pub/homebrew/Shadow-0.01.tar.gz 
		UseGetspnamf
	</AuthBy>
</Realm>

